@media only screen and (max-width: 1600px) {
    .container{
        margin: 180px auto;
        width: 250px;
        height: 200px;
        padding: 40px;
        transition: transform 2s, border;
    }

    .container:hover{
        transform: scale(1.11);
        border: 3px solid lightseagreen;
    }

    #horas{
        font-size: 70px;
        padding: 5px;
        margin: 30px;
        transition: transform 1.5s ease-in-out;
    }

    #horas:hover{
        transform: scale(1.15);
    }

    #semana{
        font-size: 20px;
    }

    .container h2{
        font-size: 14px;
    }
}




